*{
	margin: 0;
	padding: 0;
	font-family: century Gothic;
    vertical-align: top;
    box-sizing: border-box;
}
body {
    background: #ea3a3a url(background.png) center top;
    height: 100%;
    width: 100%;
    padding: 0 !important;
    text-align: center;
}

.home{
    width: 100%;
}

#laptop {
    background: transparent url(laptop.png) no-repeat;
    background-size: 100%;
    height: 354px;
    left: 50%;
    margin-left: -313.5px;
    margin-top: -177px;
    position: absolute;
    top: 50%;
    width: 627px;
    z-index: 9;
}
.laptop-camera {
    background: #2c3033;
    border-radius: 10px;
    display: block;
    height: 10px;
    left: 50%;
    margin-left: -5px;
    margin-top: -168px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 10px;
    z-index: 10;
}
.laptop-camera:hover {
    background: #0aaaf5;
    cursor: pointer;    
}
#laptop-screen {
    background: rgba(234,58,58,.85);
    height: 287px!important;
    left: 50%;
    margin-left: -230.5px;
    margin-top: -173px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 50%;
    white-space: nowrap;
    width: 461px;
    z-index: 8;
    display: flex;
    align-items: center;
    color: #ffffff;
}
.text{
    text-align: center;
    font-size: 130px;
    left: 3%;
    top: 25%;
    position: absolute;
    
    
}

.text span::after{
    content: "";
    position: absolute;
    background: #ea3a3a;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 5px solid #ffffff;
    animation: typing 2.3s steps(6) 0s 1 normal both;
    white-space: nowrap;
}
@keyframes typing{
    100%{
        left: 100%;
    }
}




