*{
	margin: 0;
	padding: 0;
	font-family: century Gothic;
}
#home {
    background: #ea3a3a url(background.png) center top;
    height: 100%;
    padding: 0 !important;
    text-align: center;
}






















